.container {
  margin: 0 auto;
  max-width: 1128px;
}

.section-cards__title {
  color: var(--title-color);
  margin-bottom: 32px;
}

.section-cards {
  margin: 32px auto;
  padding: 0 16px;
}

.section-infos {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  margin: 0px auto;
  margin-top: 48px;
}

@media (max-width: 400px) {
  .section-cards {
    padding: 0 8px;
  }
}

@media (min-width: 1128px) {
  .section-cards {
    padding: 0;
    margin-top: 64px;
  }
}
